.DS_Store
.gitignore
node_modules
public
prof
tsconfig.tsbuildinfo
.obsidian
.quartz-cache
private
.replit
replit.nix
/.idea/codeStyles/codeStyleConfig.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/portfolio.iml
/.idea/prettier.xml
/.idea/codeStyles/Project.xml
/.idea/vcs.xml
